{% extends 'basic.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static 'imall/home.css' %}">
{% endblock %}
{% block body %}
<div class="container mt-3">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            {% for i in range %}
            <li data-target="#carouselExampleIndicators" data-bs-slide-to="{{i}}"></li>
            {% endfor %}
        </ol>
        <div class="container carousel-inner no-padding">
            <div class="carousel-item active">
                {% for i in all_prods %}
                <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="/media/{{i.product_image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{i.Product_name}}</h5>
                        <p class="card-text">{{i.Product_desc}}</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
        </div>
        <div class="carousel-item">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
</div>
{% endblock %}